{% extends 'base.html' %}

{% block title %} ItemGameStore {% endblock %}

{% block content %}
{% load static %}
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}